<header class="navbar navbar-static-top" style="background: #1e9753">
  <div class="container-fluid">
    <div class="navbar-header col-md-2" style="background-color:#1e9753">
      <a href="/" class="navbar-brand" style="color:white"><span style="background-color: white;color: 1e9753;padding: 8px 12px;font-weight: bolder;">/</span> vcl<span style="font-weight:bolder">Fiddle</span></a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation" style="background-color:black">
      <ul class="nav navbar-nav nav-pills">
        <li><a href="#run" id="run">Run <span class="glyphicon glyphicon-play"></span></a></li>
        <li><a href="#share" id="share">Share <span class="glyphicon glyphicon-share"></span></a></li>
        <li><a href="https://github.com/vclfiddle/vclfiddle/blob/master/README.md" target="_blank">Docs <span class="glyphicon glyphicon-question-sign"></span></a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="container-fluid">
  <form id="input">
  <div class="row">
    <div class="col-md-2">
      <h3>Varnish Version</h3>
      <div class="dropdown">
        <select name="image" id="docker-image">
          <option value="varnish4" selected="selected">Varnish 4.0.2</option>
          <option value="varnish3">Varnish 3.0.6</option>
          <option value="varnish2">Varnish 2.1.5</option>
        </select>
        <!-- TODO ensure this dropdown is set to the correct Varnish version for existing fiddles -->
      </div>
      <h3>Legals, Credits and Links</h3>
      Created and maintained by <a href="https://twitter.com/jstangroome" target="_blank">@jstangroome</a> and <a href="https://twitter.com/dbartholomew" target="_blank">@dbartholomew</a>.

      <div class="social-holder">
        <ul class="social">
          <li><a href="https://www.facebook.com/vclFiddle" target="_blank" class="facebook">Facebook</a></li>
          <li><a href="https://www.twitter.com/vclfiddle" target="_blank" class="twitter">Twitter</a></li>
          <li><a href="https://plus.google.com/104295858219882072889/about" target="_blank" class="google-plus">GooglePlus</a></li>
        </ul>
      </div><!-- social -->
    </div>
    <div class="col-md-10">
      <input id="fiddleid" type="hidden" name="fiddleid" value="<%= fiddleid || '' %>" />
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="editor"><textarea class="form-control" id="vcl" name="vcl"><%= vcl %></textarea><span class="window-label">VCL</span></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="spinner"><img src="/images/spinner.gif" width="128" height="78" alt="Please wait." /></div>
                <div class="editor"><textarea class="form-control" id="varnishlog"><%= log %></textarea><span class="window-label">varnishlog</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="editor"><textarea class="form-control" id="har" name="har"><%= har %></textarea><span class="window-label">HAR</span></div>
                <input type="checkbox" id="request_doubling_checkbox" name="dbl" checked="checked" />
                <label for="request_doubling_checkbox">Replay requests twice (ie prime cache, then cache hit)</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="spinner"><img src="/images/spinner.gif" width="128" height="78" alt="Please wait." /></div>
                <table class="form-control results" id="transactions">
                  <thead>
                    <tr>
                      <th style="width: 2em;" />
                      <th style="width: 2em;">#</th>
                      <th>Request</th>
                      <th style="width: 7em;">Response</th>
                      <th style="width: 10em;">Content-Type</th>
                      <th style="width: 4em;">Cache</th>
                    </tr>
                  </thead>
                  <tbody id="results-tbody-template" style="display: none;">
                    <tr class="result-summary">
                      <td class="result-details-toggle">[+]</td>
                      <td class="result-summary-entryIndex">.</td>
                      <td class="result-summary-request">req</td>
                      <td class="result-summary-response">resp</td>
                      <td class="result-summary-contentType">content</td>
                      <td class="result-summary-cache">cache</td>
                    </tr>
                    <tr class="result-details"><td /><td colspan="5">
                      <table class="form-control">
                        <thead><tr>
                          <th>Header Name</th><th>Value</th>
                        </tr></thead>
                        <tbody>
                          <tr id="result-details-row-template" style="display: none;">
                            <td class="result-details-headerName">name</td>
                            <td class="result-details-headerValue">value</td>
                          </tr>
                        </tbody>
                      </table>
                    </td></tr>
                  <tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js" rel="stylesheet"></script>
<script src="/CodeMirror/codemirror.js"></script>
<script src="/CodeMirror/mode/javascript/javascript.js"></script>
<% if (typeof results === 'object') { %><script>var vclfiddle_results=<%- JSON.stringify(results) %>;</script><% } %>
<script>
  var vcl = CodeMirror.fromTextArea(document.getElementById("vcl"), { lineNumbers: true, mode: {name: "javascript", json: true} });
  var har = CodeMirror.fromTextArea(document.getElementById("har"), { lineNumbers: true, mode: {name: "javascript", json: true} });
  var varnishlog = CodeMirror.fromTextArea(document.getElementById("varnishlog"), { lineNumbers: true, mode: {name: "javascript", json: true}, readOnly: true });
  var hiddenFiddleIdInput = document.getElementById('fiddleid');

  function clearTransactions() {
    var table = $('table#transactions');
    var tbodyTemplate = table.find('tbody#results-tbody-template');
    var otherTbodies = table.find('>tbody:not(#results-tbody-template)');
    otherTbodies.remove();
  }

  function displayTransactions(results) {
    var table = $('table#transactions');
    var tbodyTemplate = table.find('tbody#results-tbody-template');
    var toInsertAfter = tbodyTemplate;
    results.forEach(function (result) {
      if (!result.ncsa) result.ncsa = { hitmiss: '(unknown)' };
      var reqSumm = result.request.summary;
      var requestText = [reqSumm.method, reqSumm.url].join(' ');
      var resp = result.response;
      if (!resp) resp = { headers: [] };
      var responseText = [resp.code, resp.comment].join(' ');
      var contentType = resp.headers.filter(function (h) { return h.name.toLowerCase() === 'content-type'; });
      contentType = contentType.length === 0 ? '' : contentType[0].value;
      var contentTypeSemicolonIndex = contentType.indexOf(';');
      if (contentTypeSemicolonIndex >= 0) contentType = contentType.substring(0, contentTypeSemicolonIndex);

      if (result.request.excludeReason) {
        responseText = ['(', result.request.excludeReason, ': ', result.request.message, ')'].join(' ');
      }

      var resulttbody = tbodyTemplate.clone();
      resulttbody.attr('id', '');
      resulttbody.attr('style', '');
      resulttbody.find('td.result-summary-entryIndex').text(result.request.entryIndex);
      resulttbody.find('td.result-summary-request').text(requestText);
      var responseCell = resulttbody.find('td.result-summary-response');
      var contentTypeCell = resulttbody.find('td.result-summary-contentType');
      var cacheCell = resulttbody.find('td.result-summary-cache');
      if (result.request.excludeReason) {
        responseText = ['(', result.request.excludeReason, ': ', result.request.message, ')'].join(' ');
        responseCell.attr('colspan', 3);
        contentTypeCell.hide();
        cacheCell.hide();
      } else {
        contentTypeCell.text(contentType);
        cacheCell.text(result.ncsa.hitmiss);
        cacheCell.addClass('cache-' + result.ncsa.hitmiss);
      }
      responseCell.text(responseText);

      var detailsRow = resulttbody.find('tr.result-details');
      detailsRow.hide();
      resulttbody.find('td.result-details-toggle').click(function (ev) {
        detailsRow.slideToggle();
      });
      // TODO handle keyboard expansion too
      // TODO handle click event on a parent to reduce event handlers

      var detailRowTemplate = resulttbody.find('tr#result-details-row-template');
      var detailToInsertAfter = detailRowTemplate;
      var detailRows = resp.headers.forEach(function (header) {
        var row = detailRowTemplate.clone();
        row.attr('id', '');
        row.attr('style', '');
        row.find('td.result-details-headerName').text(header.name);
        row.find('td.result-details-headerValue').text(header.value);
        row.insertAfter(detailToInsertAfter);
        detailToInsertAfter = row;
      });

      // TODO show ncsa.handling in details
      // TODO show vxid for correlation with varnishlog

      detailRowTemplate.remove();

      resulttbody.insertAfter(toInsertAfter);
      toInsertAfter = resulttbody;
    });
  };

  $("#run").click(function (e) {
    e.preventDefault();
    vcl.save();
    har.save();
    $('.spinner img').fadeIn();
    $.ajax({
      type: "POST",
      url: "/vcl/run",
      data: $( "#input" ).serialize(),
      headers: { Accept: "application/json; charset=utf-8"}
    }).done(function( data ) {
      hiddenFiddleIdInput.value = data.fiddleid;
      var newFiddleUrl = ['/', data.fiddleid, '/', data.runindex].join('');
      window.history.pushState({fiddleid: data.fiddleid, runindex: data.runindex}, '', newFiddleUrl);
      // TODO handle popState for history navigation
      varnishlog.setValue(data.log || '');
      clearTransactions();
      var poll = function () {
        var resultUrl = ['/vcl/result?fiddleid=', data.fiddleid, '&runindex=', data.runindex].join('');
        $.getJSON(resultUrl, function (data) {
          if (data.log) {
            $('.spinner img').fadeOut();
            varnishlog.setValue(data.log);
            if (data.results) {
              displayTransactions(data.results);
            }
          } else {
            window.setTimeout(poll, 1000);
          }
        });
      };
      window.setTimeout(poll, 1000);
    });
  });
  $("#save").click(function (e) {e.preventDefault();});
  $("#share").click(function (e) {e.preventDefault();});

  $( ".editor" )
  .mouseenter(function() {
    $( this ).find( ".window-label" ).fadeOut();
  })
  .mouseleave(function() {
    $( this ).find( ".window-label" ).fadeIn();
  });

  if (typeof vclfiddle_results === 'object') displayTransactions(vclfiddle_results);

</script>
<style>
  h3 {
    color: #353535;
    font-size:15px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .editor {
    border: 1px solid #C0C0C0;
  }
  .navbar-nav>li>a {
    background: #3a3a3a;
    color: white;
  }
  .nav-pills>li>a {
    border-radius: 0;
  }
  .nav>li>a:hover {
    color: #3a3a3a
  }
  .window-label {
    position: absolute;
    top: 10px;
    right: 30px;
  }
  .spinner img {
    position: absolute;
    z-index: 10;
    left: 40%;
    top: 25%;
    display: none;
  }
  table#transactions {
    table-layout: fixed;
  }
  table#transactions thead {
    background-color: black;
  }
  table#transactions thead th {
    background-color: 3a3a3a;
    color: white;
  }
  table#transactions td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  table#transactions td.result-summary-cache {
    text-align: center;
  }
  table#transactions td.cache-miss {
    background-color: #de1d1d;
    color: white;
  }
  table#transactions td.cache-hit {
    background-color: #1e9753;
    color: white;
  }
</style>
