<header class="navbar navbar-static-top" style="background: #1e9753">
  <div class="container-fluid">
    <div class="navbar-header col-md-2" style="background-color:#1e9753">
      <a href="/" class="navbar-brand" style="color:white"><span style="background-color: white;color: 1e9753;padding: 8px 12px;font-weight: bolder;">/</span> vcl<span style="font-weight:bolder">Fiddle</span></a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation" style="background-color:black">
      <ul class="nav navbar-nav nav-pills">
        <li><a href="#run" id="run">Run <span class="glyphicon glyphicon-play"></span></a></li>
        <li class="dropdown">
          <a href="#" id="share" class="dropdown-toggle" data-toggle="dropdown">Share <span class="glyphicon glyphicon-share"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://twitter.com/share" class="twitter-popup">Tweet</a></li>
            <li><a id="email_link" data-toggle="modal" data-target="#send-email-form" href="#">Email</a></li>
          </ul>
        </li>
        <li><a href="https://github.com/vclfiddle/vclfiddle/blob/master/README.md" target="_blank">Docs <span class="glyphicon glyphicon-question-sign"></span></a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="container-fluid">
  <form id="input">
  <div class="row">
    <div class="col-md-2">
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
              <h3>Varnish Version</h3>
            </a>
          </div>
          <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
              <div class="dropdown">
                <select name="image" id="docker-image">
                  <option value="varnish4" selected="selected">Varnish 4.0.2</option>
                  <option value="varnish3">Varnish 3.0.6</option>
                </select>
                <!-- TODO ensure this dropdown is set to the correct Varnish version for existing fiddles -->
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              <h3>Legals, Credits and Links</h3>
            </a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
              Created and maintained by <a href="https://twitter.com/jstangroome" target="_blank">@jstangroome</a> and <a href="https://twitter.com/dbartholomew" target="_blank">@dbartholomew</a>.

              <div class="social-holder">
                <ul class="social">
                  <li><a href="https://www.facebook.com/vclFiddle" target="_blank" class="facebook">Facebook</a></li>
                  <li><a href="https://www.twitter.com/vclfiddle" target="_blank" class="twitter">Twitter</a></li>
                  <li><a href="https://plus.google.com/104295858219882072889/about" target="_blank" class="google-plus">GooglePlus</a></li>
                </ul>
              </div><!-- social -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <input id="fiddleid" type="hidden" name="fiddleid" value="<%= fiddleid || '' %>" />
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="editor"><textarea class="form-control" id="vcl" name="vcl"><%= vcl %></textarea><span class="window-label">VCL</span></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="spinner"><img src="/images/spinner.gif" width="128" height="78" alt="Please wait." /></div>
                <div class="editor"><textarea class="form-control" id="varnishlog"><%= log %></textarea><span class="window-label">varnishlog</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="editor"><textarea class="form-control" id="har" name="har"><%= har %></textarea><span class="window-label">HAR</span></div>
                <input type="checkbox" id="request_doubling_checkbox" name="dbl" checked="checked" />
                <label for="request_doubling_checkbox">Replay requests twice (ie prime cache, then cache hit)</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="spinner"><img src="/images/spinner.gif" width="128" height="78" alt="Please wait." /></div>
                <table class="form-control results" id="transactions">
                  <thead>
                    <tr>
                      <th style="width: 2em;" />
                      <th style="width: 2em;">#</th>
                      <th>Request</th>
                      <th style="width: 7em;">Response</th>
                      <th style="width: 10em;">Content-Type</th>
                      <th style="width: 4em;">Cache</th>
                    </tr>
                  </thead>
                  <tbody id="results-tbody-template" style="display: none;">
                    <tr class="result-summary">
                      <td class="result-details-toggle">[+]</td>
                      <td class="result-summary-entryIndex">.</td>
                      <td class="result-summary-request">req</td>
                      <td class="result-summary-response">resp</td>
                      <td class="result-summary-contentType">content</td>
                      <td class="result-summary-cache">cache</td>
                    </tr>
                    <tr class="result-details"><td /><td colspan="5">
                      <table class="form-control">
                        <thead><tr>
                          <th>Header Name</th><th>Value</th>
                        </tr></thead>
                        <tbody>
                          <tr id="result-details-row-template" style="display: none;">
                            <td class="result-details-headerName">name</td>
                            <td class="result-details-headerValue">value</td>
                          </tr>
                        </tbody>
                      </table>
                    </td></tr>
                  <tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>

<div class="modal fade" id="send-email-form" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/send" method="post" class="form-horizontal" role="form" id="sendFiddleForm">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x</button>
        <h4 class="modal-title" id="myModalLabel">Email this fiddle url</h4>
      </div>
      <div class="modal-body">
          <input type="hidden" id="current_fiddle" name="current_fiddle">
        <div class="form-group">
          <label class="control-label col-sm-3" for="your_name">Your Name:</label>
          <div class="col-sm-9">
            <input type="your_name" class="form-control" id="your_name" name="your_name" placeholder="Enter Your Name">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3" for="friend_name">Friend's Name:</label>
          <div class="col-sm-9">
            <input type="friend_name" class="form-control" id="friend_name" name="friend_name" placeholder="Enter Friend's Name">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3" for="email">Friend's Email:</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Friend's email">
          </div>
        </div>
        <!-- the result of the search will be rendered inside this div -->
        <div id="result"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="send_email" type="submit" class="btn btn-primary">Send</button>
      </div>
      </form>
    </div>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js" rel="stylesheet"></script>
<script src="/CodeMirror/codemirror.js"></script>
<script src="/CodeMirror/mode/javascript/javascript.js"></script>
<% if (typeof results === 'object') { %><script>var vclfiddle_results=<%- JSON.stringify(results) %>;</script><% } %>
<script src="/js/scripts.js"></script>

