<header class="navbar navbar-static-top" style="background: #1e9753">
  <div class="container-fluid">
    <div class="navbar-header col-md-2" style="background-color:#1e9753">
      <a href="/" class="navbar-brand" style="color:white"><span style="background-color: white;color: 1e9753;padding: 8px 12px;font-weight: bolder;">/</span> vcl<span style="font-weight:bolder">Fiddle</span></a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation" style="background-color:black">
      <ul class="nav navbar-nav nav-pills">
        <li><a href="#run" id="run">Run <span class="glyphicon glyphicon-play"></span></a></li>
        <li><a href="#share" id="share">Share <span class="glyphicon glyphicon-share"></span></a></li>
        <li><a href="https://github.com/vclfiddle/vclfiddle/blob/master/README.md" target="_blank">Docs <span class="glyphicon glyphicon-question-sign"></span></a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
              <h3>Varnish Version</h3>
            </a>
          </div>
          <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                  Varnish 4.0.2
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Varnish 4.0.2</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              <h3>Legals, Credits and Links</h3>
            </a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
              Created and maintained by <a href="https://twitter.com/jstangroome" target="_blank">@jstangroome</a> and <a href="https://twitter.com/dbartholomew" target="_blank">@dbartholomew</a>.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <form id="input">
      <input id="fiddleid" type="hidden" name="fiddleid" value="<%= fiddleid || '' %>" />
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="editor"><textarea class="form-control" id="vcl" name="vcl"><%= vcl %></textarea><span class="window-label">VCL</span></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="editor"><textarea class="form-control" id="varnishlog"><%= log %></textarea><span class="window-label">varnishlog</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="checkbox" id="request_doubling_checkbox" name="dbl" checked="checked" />
                <label for="request_doubling_checkbox">Replay requests twice (ie prime cache, then cache hit)</label>
                <div class="editor"><textarea class="form-control" id="har" name="har"><%= har %></textarea><span class="window-label">HAR</span></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <table class="form-control results" id="transactions">
                  <thead>
                    <tr>
                      <th />
                      <th>Request</th>
                      <th>Response</th>
                      <th>Content-Type</th>
                      <th>Cache</th>
                    </tr>
                  </thead>
                  <tbody id="results-tbody-template" style="display: none;">
                    <tr class="result-summary">
                      <td class="result-details-toggle">[+]</td>
                      <td class="result-summary-request">req</td>
                      <td class="result-summary-response">resp</td>
                      <td class="result-summary-contentType">content</td>
                      <td class="result-summary-cache">cache</td>
                    </tr>
                    <tr class="result-details"><td /><td colspan="4">
                      <table>
                        <thead><tr>
                          <th>Header Name</th><th>Value</th>
                        </tr></thead>
                        <tbody>
                          <tr id="result-details-row-template" style="display: none;">
                            <td class="result-details-headerName">name</td>
                            <td class="result-details-headerValue">value</td>
                          </tr>
                        </tbody>
                      </table>
                    </td></tr>
                  <tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js" rel="stylesheet"></script>
<script src="/CodeMirror/codemirror.js"></script>
<script src="/CodeMirror/mode/javascript/javascript.js"></script>
<% if (typeof results === 'object') { %><script>var vclfiddle_results=<%- JSON.stringify(results) %>;</script><% } %>
<script>
  var vcl = CodeMirror.fromTextArea(document.getElementById("vcl"), { lineNumbers: true, mode: {name: "javascript", json: true} });
  var har = CodeMirror.fromTextArea(document.getElementById("har"), { lineNumbers: true, mode: {name: "javascript", json: true} });
  var varnishlog = CodeMirror.fromTextArea(document.getElementById("varnishlog"), { lineNumbers: true, mode: {name: "javascript", json: true}, readOnly: true });
  var hiddenFiddleIdInput = document.getElementById('fiddleid');

  function displayTransactions(results) {
    var table = $('table#transactions');
    var tbodyTemplate = table.find('tbody#results-tbody-template');
    results.forEach(function (result) {
      var reqSumm = result.request.summary;
      var requestText = [reqSumm.method, reqSumm.url, reqSumm.httpVersion].join(' ');
      var resp = result.response;
      var responseText = [resp.protocol, resp.code, resp.comment].join(' ');
      var contentType = resp.headers.filter(function (h) { return h.name.toLowerCase() === 'content-type'; });
      contentType = contentType.length === 0 ? '' : contentType[0].value;

      var resulttbody = tbodyTemplate.clone(); // TODO with events?
      resulttbody.attr('id', '');
      resulttbody.attr('style', '');
      resulttbody.find('td.result-summary-request').text(requestText);
      resulttbody.find('td.result-summary-response').text(responseText);
      resulttbody.find('td.result-summary-contentType').text(contentType);
      resulttbody.find('td.result-summary-cache').text(result.ncsa.hitmiss);

      var detailsRow = resulttbody.find('tr.result-details');
      detailsRow.hide();
      resulttbody.find('td.result-details-toggle').click(function (ev) {
        detailsRow.slideToggle();
      });
      // TODO handle keyboard expansion too

      var detailRowTemplate = resulttbody.find('tr#result-details-row-template');
      var detailRows = resp.headers.forEach(function (header) {
        var row = detailRowTemplate.clone();
        row.attr('id', '');
        row.attr('style', '');
        row.find('td.result-details-headerName').text(header.name);
        row.find('td.result-details-headerValue').text(header.value);
        row.insertAfter(detailRowTemplate);
      });

      // TODO show ncsa.handling in details

      detailRowTemplate.remove();

      resulttbody.insertAfter(tbodyTemplate); // TODO fix reverse order probably
    });
  };

  $("#run").click(function (e) {
    e.preventDefault();
    vcl.save();
    har.save();
    $.ajax({
      type: "POST",
      url: "/vcl/run",
      data: $( "#input" ).serialize(),
      headers: { Accept: "application/json; charset=utf-8"}
    }).done(function( data ) {
      varnishlog.setValue(data.log);
      har.setValue(data.har);
      displayTransactions(data.results);
      hiddenFiddleIdInput.value = data.fiddleid;
      var newFiddleUrl = ['/', data.fiddleid, '/', data.runindex].join('');
      window.history.pushState({fiddleid: data.fiddleid, runindex: data.runindex}, '', newFiddleUrl);
      // TODO handle popState for history navigation
    });
  });
  $("#save").click(function (e) {e.preventDefault();});
  $("#share").click(function (e) {e.preventDefault();});

  $( ".editor" )
  .mouseenter(function() {
    $( this ).find( ".window-label" ).fadeOut();
  })
  .mouseleave(function() {
    $( this ).find( ".window-label" ).fadeIn();
  });

  if (typeof vclfiddle_results === 'object') displayTransactions(vclfiddle_results);

</script>
<style>
  h3 {
    color: #353535;
    font-size:15px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .editor {
    border: 1px solid #C0C0C0;
  }
  .navbar-nav>li>a {
    background: #3a3a3a;
    color: white;
  }
  .nav-pills>li>a {
    border-radius: 0;
  }
  .nav>li>a:hover {
    color: #3a3a3a
  }
  .window-label {
    position: absolute;
    top: 10px;
    right: 30px;
  }
</style>
